<div class="jumbotron jumbotron-fluid text-white bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-6 text-center d-flex flex-column align-items-center justify-content-center">
                <h1 class="display-4">Welcome to Our Grocery App!</h1>
                <div class="lead">
                    <p>Your one-stop solution for all your grocery needs.</p>
                </div>
            </div>
            <div class="col-6 p-4">
                <%= image_tag("shoppingCart.png", class:"img-fluid") %>
            </div>
        </div>
    </div>
</div>

<div class="container bg-secondary text-light">
    <div class="row p-5">
        <div class="col-md-6 offset-md-3 text-center">
            <h2>Start managing your groceries today!</h2>
        </div>
        <div class="col-md-6 offset-md-3 text-center">
            <p>Login link goes here.</p>
            <p>Sign up link goes here.</p>
        </div>
    </div>
</div>
